= render "devise/layouts/header"
.container
  .contents
    .content-header
      %h1 発送元・お届け先住所入力
    .content-form
      %label.text お名前
      %span.required 必須
      .content-form__input-box
        %input.input-text{type:"text",placeholder: "例"}
        %input.input-text{type:"text",placeholder: "例"}
      %label.text お名前カナ
      %span.required 必須
      .content-form__input-box
        %input.input-text{type:"text",placeholder: "例"}
        %input.input-text{type:"text",placeholder: "例"}
      %label.text 郵便番号
      %span.required 必須
      .content-form__input-small-box
        %input.input-text{type:"text",placeholder: "例）123-4567"}
      %label.text 都道府県
      %span.required 必須
      .content-form__input-small-box
        %input.input-text{type:"text",placeholder: "和歌山"}
      %label.text 市町村区
      %span.required 必須
      .content-form__input-small-box
        %input.input-text{type:"text",placeholder: "例）和歌山市"}
      %label.text 番地
      %span.required 必須
      .content-form__input-small-box
        %input.input-text{type:"text",placeholder: "例）北出島123-4"}
      %label.text 建物名
      %span.required-gray 必須
      .content-form__input-small-box
        %input.input-text{type:"text",placeholder: "例）出島ブランデ"}
      %label.text 電話
      %span.required-gray 必須
      .content-form__input-small-box
        %input.input-text{type:"text",placeholder: "例）0900000000"}
      %input.submit{type:"submit", value:"次へ進む"}
= render "devise/layouts/footer"
