.single
  .single__header
    .single__header-logo
      = image_tag src="/images/fmarket_logo_red.svg", alt:"merukari" , height: "50px", width: "185px"
.container
  .contents
    .content__header
      %h1 新規会員登録
    .content-form
      %button.mail-signup
        %i.fas.fa-envelope.mail-icon
        %p メールアドレスで登録する
      %button.facebook-signup
        = icon('fab', 'facebook-square',class: "facebook-icon")
        %p Facebookで登録する
      %button.google-signup
        %i.fab.fa-google.google-icon
        %p Googleで登録する
= render "devise/layouts/footer"