= render "devise/layouts/header"
.container
  .contents
    .content-header
      %h1 会員情報入力
    .content-form
      .content-form-nickname
        %p ニックネーム
        %p.requiredtext 必須
        %input
      .content-form-mail
        %p メールアドレス
        %p.requiredtext 必須
        %input
      .content-form-password
        %p パスワード
        %p.requiredtext 必須
        %input
        %input{:type => "checkbox"}>/
        パスワードを表示する

      %h1 本人確認
      %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

      .content-form-fullname-kanji
        %p お名前(全角)
        %p.requiredtext 必須
        %input
        %input
      .content-form-fullname-kana
        %p お名前カナ(全角)
        %p.requiredtext 必須
        %input
        %input
      .content-form-birthday
        %p 生年月日
        %p.requiredtext 必須
        %input 年
        %input 月
        %input 日
      %p ※本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      .robot-check
      %p 「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
      .next-btn
        次へ進む

= render "devise/layouts/footer"