.slick-dots {
  li button{
    &::before{
      height: 15px;
      width: 15px;
      background-color: #000000;
      border-radius: 50%;
    }
  }
}
.slick-track {
  // background-image:image-url("top_back.jpg");
  margin:0 auto;
  .first-slide{
  position: relative;
  &:focus {
    outline: none;
    }

    .smartphone{
    position: absolute;
    right:200px;
    left:350px;
    } 
    .apple_dl{
    position: absolute;
    top:262px;
    left:100px;
    height: 46px;
    }
    .google_dl{
    position: absolute;
    top:255px;
    left:250px;
    }
    .title{
    top:30px;
    font-size:40px;
    font-family: Arial;
    font-weight:bold;
    position: absolute;
    left:100px;
    } 
    .subtitle{
    font-size:16px;
    font-family: Arial;
    position: absolute;
    top:180px;
    left:100px; 
    }
  }
}

.slick-track{ 
  .slide-img{
  background-color: #f5f5f5;
  img{
    margin: 0 auto;
    }
  }
}

 
 