
.header {
  display:  block;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0,0,0,0.18) 0px 2px 4px;
  position: relative;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  &__all {
    margin: 0 150px;
    padding: 8px 0px 0px;
    .headerform {
      display: flex;
      .mercarilogo{
        -webkit-box-align: center;
        display: flex;
        height: 40px;
        margin: 0 30px 0 20px;
        align-items: center;
        padding: 0 0 0 10px;
      }
      .form {
        width: 100%;
        position: relative;
        margin-right: 50px;
        .input-default {
          background-color: #f5f5f5;
          font-size: 16px;
          height: 40px;
          position: relative;
          line-height: 1.4em;
          width: 100%;
          border-radius: 4px;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(204,204,204);
          border-image: initial;
          padding: 0px 10px 0px 10px;
          -webkit-appearance: none;
          transition: all 0.3s ease-out 0s;
        }
        &__btn {
          background-color: transparent;
          position: absolute;
          cursor: pointer;
          height: 40px;
          width: 40px;
          top: 0;
          right: 0;
          text-align: center;
          line-height: 40px;
          border:none;
          .fa-search {
            max-width: 100%;
            max-height: 100%;
            color: rgb(34,34,34);
            height: 14px;
            width: 14px;
            margin-top:2px;
          }
        }
      }
    }
    .menu {
      display: flex;
      margin-top: 8px;
      justify-content: space-between;
      &__left{
        margin-left: 30px;
      }
      ul {
        display: flex;
        position: relative;
        float: left;
        
        > li{
            font-size: 14px;
            cursor: pointer;
            height: 44px;
            padding: 0px 10px;
            line-height: 36px;
            &:hover ul.parent{
              display: block;
            }
            a{
              color: $fma-black;
            }
          i{
            color: $fma-red;
          }
          &:hover{
            color: #2086ea;
          }
          ul.parent{
            margin-top: 8px;
            z-index: 2;
            position: absolute;
            display: block;
            display: none;

            > li.redy{
              background-color: $fma-white;
              height: 14px;
              width: 170px;
              padding: 15px;
              line-height: 14px;
              &:hover {
                background-color: $fma-red;
              }
              &:hover a {
                color: $fma-white;
              }
              &:hover ul.child{
                display: block;
                }
              
              ul.child{
                width: 230px;
                height: 616px;
                position: absolute;
                top: 0px;
                left: 200px;
                display: block;
                display: none;
                z-index: -1;
                background-color: $fma-white;
                
                > li.redy-child{
                  &:hover {
                    background-color: $fma-bg-gray;
                  }
                    a{
                      color: black;
                    }
                  &:hover ul.grand{
                    display: block;
                  }

                  ul.grand{
                    display: block;
                    display: none;
                    width: 250px;
                    position: absolute;
                    left: 200px;
                    top: 0px;
                    height: 616px;
                    background-color: $fma-white;
                    > li.redy-grand{
                      &:hover {
                        background-color: $fma-bg-gray;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &__right {
        display: flex;
        position: relative;
        margin-right: 30px;
        .good-box{
          height: 44px;
          position: relative;
          margin-right: 20px;

          &__image{
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            font-size: 14px;
            height: 32px;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;
            transform: scale(1);

            a{
              text-decoration: none;
              color: #262626;

              &:hover{
                color: #2086ea;
              }
            }

            .fa-heart{
              max-width: 100%;
              max-height: 100%;
              height: auto;
              color: rgb(204,204,204);
              margin-right: 10px;
            }
          }
        }
        .noticebox {
          height: 44px;
          position: relative;
          margin-right: 20px;

          &__image {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            font-size: 14px;
            height: 32px;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;
            transform: scale(1);

            a{
              text-decoration: none;
              color: #262626;

              &:hover{
                color: #2086ea;
              }
            }
            .fa-bell {
              max-width: 100%;
              max-height: 100%;
              height: auto;
              color: rgb(204,204,204);
              margin-right: 10px;
            }
          }
        }
        .todolistbox {
          height: 44px;
          position: relative;
          margin-right: 20px;

          &__image {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            font-size: 14px;
            height: 32px;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;
            transform: scale(1);

            a{

              &:hover{
                color: #2086ea;
              }
            }

            .fa-check{
              max-width: 100%;
              max-height: 100%;
              height: auto;
              color: rgb(204,204,204);
              margin-right: 10px;
            }
            a{
              text-decoration: none;
              color: #262626;
            }
          }
        }
        .mypage {
          height: 44px;
          position: relative;
          margin-right: 20px;

          &__box {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            font-size: 14px;
            height: 27px;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;
            transform: scale(1);

            

            a{
              text-decoration: none;
              color: #262626;

              &:hover{
                color: #2086ea;
              }
            }

            .face {
              margin-right: 10px;
              border-radius: 50%;
              overflow: hidden;
              float: left;
              }
            h2{
              height: 24px;
              float: left;
              margin-top: 7px;
            }
            }
          }
        .signup-box{
          width: 120px;
          height: 37px;
          color: white;
          background-color: red;
          border-radius: 10px;
          text-align: center;
          line-height: 37px;
          margin-right: 15px;
          cursor: pointer;

          a{
            text-decoration: none;
            color: white;
          }
        }
        .login-box{
          width: 85px;
          height: 37px;
          color: rgb(13, 174, 238);
          background-color: white;
          border-radius: 10px;
          text-align: center;
          line-height: 37px;
          border: solid 1px #38aef0;
          cursor: pointer;

          a{
            text-decoration: none;
            color: #38aef0;
          }
          &:hover{
            background-color: rgb(34, 181, 218);
            color: white;
          }
        }
      }
    }
  }
}