.side-list
  %ul 
    %li 
      =link_to "マイページ"
      %i.fa.fa-angle-right
    %li
      =link_to "お知らせ"
      %i.fa.fa-angle-right
    %li 
      =link_to "やることリスト"
      %i.fa.fa-angle-right
    %li
      =link_to "いいね！一覧"
      %i.fa.fa-angle-right
    %li
      =link_to "出品する"
      %i.fa.fa-angle-right
    %li
      =link_to "出品した商品-出品中"
      %i.fa.fa-angle-right
    %li
      =link_to "出品した商品-取引中"
      %i.fa.fa-angle-right
    %li
      =link_to "出品した商品-売却済み"
      %i.fa.fa-angle-right
    %li
      =link_to "購入した商品-取引中"
      %i.fa.fa-angle-right
    %li
      =link_to "購入した商品-過去の取引"
      %i.fa.fa-angle-right
    %li 
      =link_to "ニュース一覧"
      %i.fa.fa-angle-right
    %li
      =link_to "評価一覧"
      %i.fa.fa-angle-right
    %li
      =link_to "ガイド"
      %i.fa.fa-angle-right
    %li
      =link_to "お問い合わせ"
      %i.fa.fa-angle-right

  %h2 メルペイ
  %ul
    %li
      =link_to "残高・振込申請"
      %i.fa.fa-angle-right
    %li
      =link_to "ポイント"
      %i.fa.fa-angle-right

  %h2 設定
  %ul
    %li
      =link_to "プロフィール", profile_path(@user)
      %i.fa.fa-angle-right
    %li
      =link_to "発送元・お届け先住所変更"
      %i.fa.fa-angle-right
    %li
      =link_to "支払い方法", user_card_index_path(@user)
      %i.fa.fa-angle-right
    %li
      =link_to "メール/パスワード"
      %i.fa.fa-angle-right
    %li
      =link_to "本人情報", confirmation_path(@user)
      %i.fa.fa-angle-right
    %li
      =link_to "電話番号の確認"
      %i.fa.fa-angle-right
    %li
      = link_to "ログアウト", logout_path
      %i.fa.fa-angle-right
  