.single-footer
  .nav
    %ul
      %li プライバシーポリシー
      %li メルカリ利用規約
      %li 特定商取引に関する表記
  .single-footer-logo
    = image_tag src="/images/logo_gray.svg", alt:"merukari" , height: "65px", width: "80px"
  %p © Mercari, Inc.