.single
  .single__header
    .single__header-logo
      = link_to root_path do
        = image_tag src="fmarket_logo_red.svg", alt:"merukari" , height: "50px", width: "185px"
    .single__header-bar
      %ul
        %li
          .active 
            %p.active-title 会員情報 
            %p.active-status ●
        %li
          .active
            %p.active-title 電話番号認証
            %p.active-status ●
        %li
          .active 
            %p.active-title お届け先住所入力
            %p.active-status ●
        %li
          .active
            %p.active-title 支払い方法
            %p.active-status ●
        %li
          .active
            %p.active-title 完了
            %p.active-status-last ●