.category
  .category__top
    注目のカテゴリー
  .category__genre
    -# - @categorys.each do |c| 
      .category__genre__box       
        .category__genre__box__text    
          = c.name
.item
  .item__name
    .item__name__box      
      新着アイテム
    .item__name__details 




      
      


