.itemcontent
  .itemname
    %h1 伝説のバッグ

  .maincontent
    .itemimage
      -# 画像は仮置き
      .itemimage__box

        .itemimage__box__main
        = image_tag src="/images/mypage.jpg/",alt:"",width: "80"
        .itemimage__box__sub
        = image_tag src="/images/mypage.jpg/",alt:"",width: "80"

    .itemdate
      %tbody
        %tr 
          %th 出品者
          %td
            %a{ href:'#'}プロフ見てね！
            -# いいねボタンの仮置き
            .itemhownice
        %tr
          %th カテゴリー
          -# パンクず仮置き
          -# 並び肩はcssで調整予定
          %td
            %a{ href: '#'}レディース
            %a{ href: '#'}バッグ
            %a{ href: '#'}超バッグ
        %tr
          %th ブランド
          %td 
            %a{ href: '#'}シャネル
        %tr
          %th 商品の状態
          %td 未使用に近い
          




