=form_for @item do |f|
  
  =f.text_field :name, class: "name", placeholder: "商品名(必須40文字まで）"
  -# =f.text_area :text, class: "text", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
  =f.select :category_id, ["---", "レディース", "メンズ"]
  =f.select :status, ["---", "新品、未使用", "未使用に近い", "目立った傷や汚れなし", "やや傷や汚れあり", "傷や汚れあり", "全体的に状態が悪い"]
  =f.select :shipping_burden, ["---", "送料込み（出品者負担)", "着払い（購入者負担)"]
  -# =f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "---", class: "prefecture"
  =f.select :shipping_date, ["---", "1~2日で発送", "2~3日で発送", "4~7日で発送"]
  =f.text_field :price, class: "price", placeholder: "例）300"
  =f.submit '出品する', class: "submit"