.Outline
  =render "shared/header"
  .pan
    %ul.pan
      %li.bread
        - breadcrumb :card
        = breadcrumbs separator: "&rsaquo;"
  //マイページ
  .credit__all
    .side__mypage
      =render "shared/side-list"
    .credits__index
      %h2 支払い方法
      .credits__contents
        .credits__contents__header
          クレジットカード一覧
        .credits__contents__body
          .card__index
            %i.far.fa-credit-card
            = link_to "クレジットカードを追加する", new_user_card_path(@user), class:"ko"
        .credits__contents__footer
          = link_to "支払い方法について", "#"
          %i.fas.fa-chevron-right
  =render 'shared/footer'