.listing__wrapper
  .listing__header
    .listing__header-logo
      = image_tag src="/images/fmarket_logo_red.svg", alt:"merukari" , height: "50px", width: "185px"
  .listing__contents
    %form{:action => "#", :method => "post"}
    .listing__contents__info
      %h2 商品の情報を入力
    .listing__contents__image
      .listing__contents__image__head
        %h3 出品画像
      %p 最大10枚までアップロードできます
      .listing__contents__image__img
        .listing__contents__image__img__text
          %h1 ドラッグアンドドロップ
          %h1 またはクリックしてファイルをアップロード
    .listing__contents__name
      .group
        %label 商品名 
        %br/
        %input{:class => "item", :name => "name", :placeholder => "商品名（必須40文字まで）" }
      .group
        %label 商品の説明
        %br/
        %textarea{:class => "explain", :name => "textarea", :placeholder => "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
    .listing__contents__detail
      %h3 商品の詳細
      .form-box
        .group
          %label カテゴリー
          .select
            %select{:class => "status", :name => "prefecture"}
              %option{:value => "category-1"} ---
              %option{:value => "category-2"} レディース
              %option{:value => "category-3"} メンズ
              %option{:value => "category-4"} ベビー・キッズ
              %option{:value => "category-5"} インテリア・住まい・小物
              %option{:value => "category-6"} 本・音楽・ゲーム
              %option{:value => "category-7"} おもちゃ・ホビー・グッズ
              %option{:value => "category-8"} コスメ・香水・美容
              %option{:value => "category-9"} 家電・スマホ・カメラ
              %option{:value => "category-10"} スポーツ・レジャー
              %option{:value => "category-11"} ハンドメイド
              %option{:value => "category-12"} チケット
              %option{:value => "category-13"} 自転車・オートバイ
              %option{:value => "category-14"} その他
            %br/
        .group
          %label 商品の状態
          .select
            %select{:class => "status", :name => "prefecture"}
              %option{:value => "status-1"} ---
              %option{:value => "status-2"} 新品、未使用
              %option{:value => "status-3"} 未使用に近い
              %option{:value => "status-4"} 目立った傷や汚れなし
              %option{:value => "status-5"} やや傷や汚れあり
              %option{:value => "status-6"} 傷や汚れあり
              %option{:value => "status-7"} 全体的に状態が悪い
    .listing__contents__deliver
      %h3 配送について
      .form-box
        .group
          %label 配送料の負担
          .select
            %select{:class => "status", :name => "prefecture"}
              %option{:value => "fee-"} ---
              %option{:value => "fee-"} 送料込み（出品者負担）
              %option{:value => "fee-"} 着払い（購入者負担）
            %br/
        .group
          %label 発送元の地域
          .select
            %select{:class => "status", :name => "prefecture"}
              %option{:value => ""} ---
            %br/
        .group
          %label 発送までの日数
          .select
            %select{:class => "status", :name => "prefecture"}
              %option{:value => "day-1"} ---
              %option{:value => "day-2"} 1~2日で発送
              %option{:value => "day-3"} 2~3日で発送
              %option{:value => "day-4"} 4~7日で発送
    .listing__contents__price
      %h3 販売価格(300~9,999,999)
      %ul.price-box
        %li.prices
          .group
            .group__left
              価格
            .group__right
              .input
                ￥
              %input{:class => "price", :placeholder => "例）300"}
        %li.sale 
          .sale-left
            販売手数料(10%)
          .sale-right
            -
        %li.benefit 
          .benefit-left
            販売利益
          .benefit-right
            -
    .listing__contents__confirms
      .listing__contents__confirms-confirm
        %p 
          =link_to '禁止されている出品', '#'
          、
          =link_to '行為', '#'
          を必ずご確認ご確認ください。
        %p 
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          =link_to '偽ブランドの販売', '#' 
          は犯罪あり処罰される可能性があります。
        %p 
          また、出品をもちまして
          =link_to '加盟販売店規約', '#'
          に同意したことになります。
      %input{:type => "submit",:class => "submit", :value => "出品する"}
      .back-btn
        =link_to 'もどる', "#"
      
  .listing__footer
    .nav
      %ul
        %li プライバシーポリシー
        %li メルカリ利用規約
        %li 特定商取引に関する表記
    .listing__footer__logo
      = image_tag src="/images/logo_gray.svg", alt:"merukari"
    %p © Mercari, Inc.