.side-profile
  .side-profile__contents
    %h2 プロフィール
    .side-profile__contents__back-image
      .side-profile__contents__back-image__box
        .side-profile__contents__back-image__box__dual
          .profile-icon
          %input.profile-text{:placeholder => "例）バナナ星人", :type => "text", :value => ""}/