.side-profile
  =render "side-list"
  .side-profile__contents
    %h2 プロフィール
    .side-profile__contents__back-image
      .side-profile__contents__back-image__box
        .side-profile__contents__back-image__box__dual
          = image_tag "/images/mypage.jpg",size:"60x60",class: "profile-icon"
          %input.profile-text{:placeholder => "例）バナナ星人", :type => "text", :value => ""}
    .side-profile__contents__under
      %textarea.profile-comment{:placeholder => "例）こんにちは☆"}
      %button.change-btn{:type => "submit", :value => ""}
        変更する