.single-main
  .single-contener
    .buy_head.single_haed
    %h2 購入内容の確認
    %section.buy-item
    .buy-item-detail
      JEANASIS／ニットタイトスカート／スリットあり／黒／美品
    .buy-price
      1777円
    .buy-image
    

    .item-buy-confirmation
    .item-k
    .price__box
    .item-shiping-fee
    .form-buy
    %span
    aa
    %buttom
 
      ¥2,500 （税込）送料込み

      支払い金額	¥2,500
      ポイントを使用 (所持ポイント: P0)
      支払い方法
      登録してください

      配送先

