//マイページ
.side-mypage
  =render "side-list"
  .contents
    .back-image
    .mypaga-log
      .mypaga-log__tab
        .mypaga-log__tab__active
          お知らせ
        .mypaga-log__tab__do
          やることリスト
      .mypaga-log__content
        %ul 
          %li