.side-list
  %ul 
    %li 
      %a マイページ
      %i.fa.fa-angle-right
    %li
      %a お知らせ
      %i.fa.fa-angle-right
    %li 
      %a やることリスト
      %i.fa.fa-angle-right
    %li
      %a いいね！一覧
      %i.fa.fa-angle-right
    %li
      %a 出品する
      %i.fa.fa-angle-right
    %li
      %a 出品した商品-出品中
      %i.fa.fa-angle-right
    %li
      %a 出品した商品-取引中
      %i.fa.fa-angle-right
    %li
      %a 出品した商品-売却済み
      %i.fa.fa-angle-right
    %li
      %a 購入した商品-取引中
      %i.fa.fa-angle-right
    %li
      %a 購入した商品-過去の取引
      %i.fa.fa-angle-right
    %li 
      %a ニュース一覧
      %i.fa.fa-angle-right
    %li
      %a 評価一覧
      %i.fa.fa-angle-right
    %li
      %a ガイド
      %i.fa.fa-angle-right
    %li
      %a お問い合わせ
      %i.fa.fa-angle-right

  %h2 メルペイ
  %ul
    %li
      %a 残高・振込申請
      %i.fa.fa-angle-right
    %li
      %a ポイント
      %i.fa.fa-angle-right

  %h2 設定
  %ul
    %li
      %a プロフィール
      %i.fa.fa-angle-right
    %li
      %a 発送元・お届け先住所変更
      %i.fa.fa-angle-right
    %li
      %a 支払い方法
      %i.fa.fa-angle-right
    %li
      %a メール/パスワード
      %i.fa.fa-angle-right
    %li
      %a 本人情報
      %i.fa.fa-angle-right
    %li
      %a 電話番号の確認
      %i.fa.fa-angle-right
    %li
      %a ログアウト
      %i.fa.fa-angle-right
  