%div.slick
  %div
    %h3
    = image_tag "top_camp.png", size: "680x380", alt: "スマホの画像"
  %div
    %h3
    %p スマホでかんたん
    %p スマホアプリ
    %h4
    %p メルカリはスマホカメラからすぐに出品できる
    %p 購入時も安心な独自システムのアプリです
    



  %div
    %h3 3
  %div
    %h3 4
  %div
    %h3 5
  %div
    %h3 6