.side-user
  =render "side-list"
  .side-user__contents
    %h2 本人情報の登録
    .side-user__contents__form-box
      .side-user__contents__form-box__caution
        %p お客さまの本人情報をご登録ください。
        %p 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
      .side-user__contents__form-box__right-text
        =link_to "本人確認書類のアップロードにについて＞"