.wrapper
  = render "header"
  //= render "logout"
  = render "slick"
  = render "contents"
  -# = render "mypage"
  = render "footer"
  -#= render "signup-header"

  -# = render "footer"
  -# = render "signup-header"
  -# = render "profile"
  -#= render "product-listing"

