.wrapper
  = render "header"
  = render "show"
  
  -# = render "slick"
  -# = render "contents"
  -# = render "mypage"
  -# = render "signup-header"
  -# = render "profile"
  -# = render "product-listing"
  -# = render "purchase"
  -# = render "user-confirmation"
  = render "logout"
  = render "footer"

