.wrapper
  -# = render "header"
  -# = render "signup-header"
  -# トップページ
  -# = render "slick"
  -# = render "contents"

  -# マイページ
  -# = render "mypage"

  -# プロフィール編集ページ
  -# = render "profile"

  -# 商品出品ページ
  = render "product-listing"

  -# 商品購入確認ページ
  -# = render "purchase"


  -# ユーザー本人確認ページ
  -# = render "user-confirmation"

  -# ログアウトページ
  -# = render "logout"

  -# 商品詳細ページ
  -# = render "show"
  
  -# = render "footer"
