=render "header"
.side-logout
  =render "side-list"
  .side-logout__contents
    .side-logout__contents__logout
      .side-logout__contents__logout__box
        %button.logout-btn{type: "submit",value: ""}
          ログアウト
=render "footer"