.header {
  // ブロック要素に
  display:  block;
  background-color: rgb(255, 255, 255);
  // 影
  box-shadow: rgba(0,0,0,0.18) 0px 2px 4px;
  // 相対位置
  position: relative;
  

  &__all {
    //background-color: rgb(124, 71, 71);
    width: 765px;
    // 中央よせ
    margin: 0 auto;
    padding: 8px 0px 0px;

    .headerform {
      display: flex;
      //justify-content: space-between;
      .mercarilogo{
        // 縦揃えてくれる
        -webkit-box-align: center;
        display: flex;
        height: 40px;
        margin-right: 45px;
        align-items: center;
        padding: 0 0 0 10px;
        .mercaribox{
          // hamlの方で調整してます
        }
      }
      .form {
        // フォームの横幅
        width: 100%;
        position: relative;
        margin-right: 50px;

        .input-default {
          background-color: #f5f5f5;
          font-size: 16px;
          height: 40px;
          position: relative;
          // 行の高さ
          line-height: 1.4em;
          width: 100%;
          // 角丸める
          border-radius: 4px;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(204,204,204);
          border-image: initial;
          padding: 0px 50px 0px 10px;
          // プラットフォームにおける標準的なUIの外観にするをなしに
          -webkit-appearance: none;
          // 枠青くなるアニメーション
          transition: all 0.3s ease-out 0s;

        }
        &__btn {
          // 透明
          background-color: transparent;
          position: absolute;
          // マウスタッチ
          cursor: pointer;
          height: 40px;
          width: 40px;
          top: 0;
          right: 0;
          text-align: center;
          line-height: 40px;
            
          .fa-search {
            max-width: 100%;
            max-height: 100%;
            color: rgb(34,34,34);
            height: 14px;
            width: 14px;
            margin-top:2px;
          }
        }
      }
    }

  .menu {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    &__left {
      display: flex;
      margin-left: 30px;
      .categorybox{
        cursor: pointer;
        height: 44px;
        position: relative;
        padding: 0px 10px;
        &__image {
          display: block;
          font-size: 14px;
          font-weight: 600;
          line-height: 36px;
          // 半角スペース表示方法　改行を半角スペースとして
          // ソース中のホワイトスペースを無視
          // ソース中の改行を1つの半角スペースとして表示
          // ボックスサイズが指定されている場合にも自動改行しない
          white-space: nowrap;
          

          .fa-list {
            // 最大決める
            max-width: 100%;
            max-height: 100%;
            color: rgb(234, 53, 45);
            height: 12px;
            margin-right: 4px;
          }

        }
      }
      .brandbox {
        cursor: pointer;
        height: 44px;
        position: relative;
        padding: 0px 10px;
        &__image {
          display: block;
          font-size: 14px;
          font-weight: 600;
          line-height: 36px;
          white-space: nowrap;
          .fa-tags {
            max-width: 100%;
            max-height: 100%;
            color: rgb(234, 53, 45);
            height: 12px;
            margin-right: 4px;
          }
        }
      }
    }
    &__right {
      display: flex;
      position: relative;
      margin-right: 30px;

      &__signup{
        width: 120px;
        height: 37px;
        color: white;
        background-color: red;
        border-radius: 10px;
        text-align: center;
        line-height: 37px;
        margin-right: 15px;
      }
      &__login{
        width: 85px;
        height: 34px;
        color: rgb(13, 174, 238);
        background-color: white;
        border-radius: 10px;
        text-align: center;
        line-height: 34px;
        border: solid 1px #38aef0;
        &:hover{
          background-color: rgb(34, 181, 218);
          color: white;
        }
      }
      }
    }
  }
}