
// deviseの新規登録関係のlayouts view

// header部分
.single__header {
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: $fma-bg-gray;
  align-items: center;
}

// 新規登録などの記述部分 /// .container .contentは共通でその中に記述していくようにしてください //
.container {
  background-color: $fma-bg-gray;
  .contents {
    background-color: $fma-white;
    width: 700px;
    margin: 0 auto;
    .content__header {
      text-align: center;
      height: 100px;
      border-bottom: 1px solid $fma-bg-gray;
      h1 {
        font-size: 22px;
        padding: 34px 0;
      }
    }
    .content__form {
      width: 350px;
      margin: 0 auto;
    }
  }
}

// footer部分
.single__footer {
  height: 140px;
  text-align: center;
  background-color: $fma-bg-gray;
  padding: 40px 0;
  ul {
    display: flex;
    justify-content: center;
    li {
      margin: 0 5px;
      font-size: 12px;
    }
  }
  &__logo {
    margin-top: 40px;
  }
  p {
    font-size: 12px;
  }
}


// 会員情報入力 //
.content__form {
  width: 350px;
  margin: 0 auto;
  padding-bottom: 40px;
  p {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
  }
  p2 {
    font-size: 15px;
  }
  p3 {
    color: #888;
    font-size: 12px;
  }
  h2 {
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: $fma-blue;
  }
  .requiredtext {
    font-size: 12px;
    background-color: $fma-red;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    vertical-align: top;
  }
  input {
    display: block;
    margin-top: 5px;
    width: calc(100% - 32px);
    height: 27px;
    padding: 10px 16px 8px;
  }
  .content-box {
    margin-top: 24px;
  }
  .input-box {
    display: flex;
    align-items: center;
    span {
      margin: 0 5px;
    }
  } 
  &__password-checkbtn {
    display: flex;
    align-items: center;
    input {
      width: 25px;
      margin-top: 0;
    }
  }
  .family-name {
    margin-right: 15px;
  }
  .next-btn {
    height: 50px;
    width: 350px;
    background-color: $fma-red;
    line-height: 50px;
    text-align: center;
    display: block;
    cursor: pointer;
    a {
      color: #fff;
    }
  }
  .privacy {
    text-align: right;
    color: $fma-blue;
    font-size: 15px;
  }
}