.single-main{
  text-align: center;  
}
.single-contener{
  margin: 0 auto;
  width:700px;
  background-color: aqua;
  }
.buy-head{
    width:700px;
    font-size: 11px;
    background-color: aqua;
}

.item-shiping-fee{
 
}