.content-form {
  width: 350px;
  margin: 0 auto;
  padding: 24px 0 40px;

  &__phone-box{
    height: 84px;
    width: 100%;

    .input{
      width: 346px;
      height: 48px;
      margin-top: 8px;
      border-radius: 4px;
      font-size: 24px;
    }
  }
  .authenticate{
    margin-top: 8px;
    font-size: 14px;
  }
  .submit{
    width: 346px;
    height: 48px;
    margin-top: 32px;
    background-color: red;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
  &__confirmation{
    margin-top: 32px;
    margin-bottom: 32px;

    a{
      float: right;
      color: #0099e8;
      text-decoration: none;
      font-size: 14px;
    }
  }
}