// 会員情報入力 //
.content__form {
  width: 350px;
  margin: 0 auto;
  padding-bottom: 40px;
  p {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
  }
  p2 {
    font-size: 15px;
  }
  p3 {
    color: #888;
    font-size: 12px;
  }
  h2 {
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: $fma-blue;
  }
  .requiredtext {
    font-size: 12px;
    background-color: $fma-red;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    vertical-align: top;
  }
  input {
    display: block;
    margin-top: 5px;
    width: calc(100% - 32px);
    height: 27px;
    padding: 10px 16px 8px;
  }
  .input-left-box {
    width: none;
    width: 131px;
  }
  .input-right-box {
    width: 131px;
    margin-left: 15px;
  }
  .input-birthday {
    width: 62px;
  }
  .error-message {
    width: 100%;
  }
  .content-box {
    margin-top: 24px;
  }
  .password-box{
    height: 21px;
    margin-top: 16px;
    
    .checkbox {
      height: 20px;
      width: 20px;
      float: left;
      margin-right: 5px;
    }
    .pass {
      float: left;
      margin-top: 2px;
    }
  }
  .input-box {
    display: flex;
    align-items: center;
    span {
      margin: 0 5px;
    }
  } 
  &__password-checkbtn {
    display: flex;
    align-items: center;
    input {
      width: 25px;
      margin-top: 0;
    }
  }
  .family-name {
    margin-right: 15px;
  }
  .next-btn2 {
    height: 50px;
    width: 350px;
    background-color: $fma-red;
    text-align: center;
    display: block;
    cursor: pointer;
    color: #fff;
  }
  .privacy {
    text-align: right;
    color: $fma-blue;
    font-size: 15px;
  }
}